<div class="w-full p-6">
  <%= render 'groups/group_nav'%>

  <div id="group_users" class="my-10 md:w-2/3 w-full">
    <% @group_users.each do |group_user| %>
      <%= render 'groups/group', group: group_user %>
    <% end %>
  </div>
</div>
