<div id="<%= dom_id comment %>">
  <%= render comment.replies if comment.replies.any? %>

  <% if action_name != "show" %>
    <%= link_to "Show this comment", post_comment_path(Post.first), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this comment', edit_post_comment_url(id: comment.id), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
