  <div class="flex items-center justify-between">
    <div class="inline-flex" role="group">
       <%= link_to 'All Groups', groups_path, class: "rounded-l
          px-6
          py-2
          border-2 border-blue-600
          text-blue-600
          font-medium
          text-xs
          leading-tight
          uppercase
          hover:bg-black hover:bg-opacity-5
          focus:outline-none focus:ring-0
          transition
          duration-150
          ease-in-out" %>

          <%= link_to 'Created by me', created_by_me_groups_path, class: "px-6
          py-2
          border-t-2 border-b-2 border-blue-600
          text-blue-600
          font-medium
          text-xs
          leading-tight
          uppercase
          hover:bg-black hover:bg-opacity-5
          focus:outline-none focus:ring-0
          transition
          duration-150
          ease-in-out" %>

          <%= link_to 'Where I\'m member', group_users_path, class: "rounded-r
          px-6
          py-2
          border-2 border-blue-600
          text-blue-600
          font-medium
          text-xs
          leading-tight
          uppercase
          hover:bg-black hover:bg-opacity-5
          focus:outline-none focus:ring-0
          transition
          duration-150
          ease-in-out" %>
     
    </div>
  
    <div class="flex justify-between items-center">
      <%= link_to 'Create a new group', new_group_path, class: "px-6
          py-2
          border-2 border-blue-600
          text-blue-600
          font-medium
          text-xs
          leading-tight
          uppercase
          hover:bg-black hover:bg-opacity-5
          focus:outline-none focus:ring-0
          transition
          duration-150
          ease-in-out" %>
    </div>
  </div>