<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @group %>
    
    <br/>

    <%= render "posts/form", group: @group, post: @post %>

    <% @posts.each do |post| %>
      <%= render "posts/post", post: post, is_show_action: true %>
    <% end %>

  </div>
</div>
