<div id="<%= dom_id post %>">
    <h1 class="font-medium leading-tight text-3xl mt-0 mb-2 text-black-600"><%= link_to  post.title, post %></h1>
    <p class="leading-tight mt-0 mb-2"><%= post.content %></p>
</div>
