<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <%= render @post, is_show_action: false  %>
    <h1 class="font-medium leading-tight text-3xl mt-0 mb-2 text-black-600">Comments</h1>

    <div id="all_comment">

      <%- @comments.each do |comment|%>
        
        <%= render "comments/comment", comment: comment, post: @post %>        

      <% end %>

    </div>

    <div class="mb-4">
      <%= render "comments/form", post: @post, comment: @comment %>  
    </div>
  </div>
  

</div>
 