<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @post %>
    <b>Comments</b>
    <br>
    <%- @post.comments.each do |comment|%>
      <%= comment.content%>
      <br>
    <% end %>
  
    <%= render "comments/form", comment: @comment%>
  </div>
</div>
